<div class="container">
  <div class="chat-container">
    <div class="chat-messages">
      <ul class="list-group" *ngFor="let message of messages">
        <li class="list-group-item">
          <p-panel [header]="message.rol" class="chat-panel">
            <h3>{{message.user}}</h3>
            <div class="chat-bubble">
              {{message.message}}
            </div>
          </p-panel>
        </li>
      </ul>
    </div>
    <div class="chat-input-area">
      <form class="chat-form">
        <input type="text" pInputText name="message" [(ngModel)]="message" class="chat-input">
        <button (click)="sendMessage()" class="chat-button">Send</button>
      </form>
    </div>
  </div>
  <div class="video-container">
    <iframe  src="https://www.youtube.com/embed/VYXdpjCZojA?si=BnbJLY0U1dSIpt7T" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

  
  
