.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px; /* Ancho del contenedor del chat */
    background-color: #f0f0f0; /* Color de fondo del contenedor */
    position: fixed;
    left: 0; /* Alinear el contenedor a la izquierda de la pantalla */
    top: 0; /* Asegurar que el contenedor comience desde la parte superior de la pantalla */
    overflow-y: auto; /* Para permitir desplazamiento vertical si hay muchos mensajes */
  }
  
  .chat-messages {
    flex-grow: 1;
    overflow-y: auto; /* Para permitir desplazamiento vertical si hay muchos mensajes */
  }
  
  .chat-input-area {
    margin-top: auto; /* Empuja el formulario hacia abajo */
  }
  
  .chat-panel {
    margin-bottom: 5px; /* Espaciado entre los mensajes */
  }
  
  /* Estilos para el chat bubble */
  .chat-bubble {
    background-color: #6ea2da;
    color: white;
    border-radius: 15px;
    padding: 10px 15px;
    max-width: 70%;
    word-wrap: break-word;
    clear: both;
  }
  
  .chat-form {
    display: flex;
    align-items: center;
  }
  
  .chat-input {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-right: 5px;
  }
  
  .chat-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
  }
  